In [1]:
%pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (2.2.4)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [6]:
data=pd.read_csv("https://open.africa/dataset/d23f4ee9-32a9-4df2-afeb-c4700d061275/resource/46c842f7-c507-4c4f-b5ca-cdb07355f438/download/cfafrica-data-team-covid-19-data-openafrica-uploads-south-africa-type-of-handwashing-facility.csv")

In [7]:
data.head()

,Geography,Soap and water,Water and cleansing agent other than soap only,Water only,Soap but no water,Cleansing agent other than soap only,"No water, no soap, no other cleansing agent",Number of households in which a place for handwashing was observed
0,Urban,57.0,1.1,31.8,1.3,0.0,8.8,"6,560"
1,Non-urban,34.5,0.7,37.7,1.3,0.0,25.8,"2,907"
2,Western Cape,86.1,1.0,12.0,0.0,0.0,0.8,"1,102"
3,Eastern Cape,45.4,0.7,36.3,0.6,0.0,17.0,"1,065"
4,Northern Cape,54.2,0.6,33.5,1.2,0.0,10.6,190